.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navUl {
  list-style: none;
  margin: 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  color: white;
  box-shadow: -8px 10px 26px -8px rgba(0, 0, 0, 0.75);
}

*:link,
*:visited {
  text-decoration: none;
  color: white;
}
.titleCont {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  gap: 0.5rem;
}

.logo {
  width: 2rem;
}

.nav-title {
  color: white;
}
